
  container: {
    flex: 1;
    padding: 20;
    backgroundColor: '#fff';
  }
  title: {
    fontSize: 18;
    fontWeight: 'bold';
    marginBottom: 5;
  }
  subtitle: {
    fontSize: 16;
    fontWeight: 'bold';
    marginTop: 10;
    marginBottom: 5;
    color: 'red';
  }
  input: {
    height: 40;
    borderColor: 'gray';
    borderWidth: 1;
    marginBottom: 10;
    paddingHorizontal: 10;
  }
  donorText: {
    fontSize: 16;
    marginBottom: 5;
    color: 'white';
    backgroundColor: 'red';
    padding: 5;
  }